<div class="col-md-4 mx-auto">
    <div class="card">
    <div class="card-header ">
        <h3>Nuevo trabajo</h3>
    </div>
    <div class="card-body">
        <form action="/trabajos/newTrabajo" method="POST" enctype="multipart/form-data">
            
            <div class="input-group mb-3">
                 <div class="custom-file">
                  <input type="file" name="trabajo" class="custom-file-input" id="inputGroupFile01">
                  <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Elige una foto</label>
                   </div>
            </div>
            <div class="form-group">
                <input type="text" name="titulo" class="form-control" placeholder="Titulo" 
                >
            </div>
            <div class="form-group">
                <textarea name="descripcion" class="form-control" placeholder="descripcion"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>
</div>